@import "tailwindcss";
@tailwind utilities;

:root {
  --color-background: #F8FAFB;
  --color-primary: #ECEFF1;
  --color-icons: #0A3D62;
  --color-secondary: #73B7C3;
  --button-primary: #73B7C3;
  --color-border: #334155;
  --color-text: #1E293B;
  --color-bg-form: #49AEDD;
  --color-hover: #49AEDD;

  --font-primary: 'Poppins', sans-serif;
  --font-secondary: 'Inter', sans-serif;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-primary);
}
